recursive-include django_bootstrap3view_app/management/commands/templates *
recursive-include django_bootstrap3view_app/management/commands/media *
recursive-include django_bootstrap3view_app/bootstrap *